#fullscreen {
    background-color: #dfdfdf;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
#time {
    position: absolute;
    left: 0px;
    top: 35vh;
    width: 100vw;
    height: 30vh;
    text-align: center;
    font-size: 30vh;
    font-family: Arial, Helvetica, sans-serif;
}
#start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    top: 70vh;
    width: 36vh;
    height: 12vh;
    text-align: center;
    font-size: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.2em;
    border:0.05em solid black;
    background-color: #84be38;
}